.heading{
    color: white;
    background-color: rgb(37, 37, 165);
    padding: 10px;
    margin: 0;
    border: 5px solid rgb(199, 137, 23);
    border-bottom: 10px solid red;
    text-align: center;
}

h4 {
    color: rgb(28, 110, 52);
}